body {
    width: 100%;
    margin: 0 auto;
    background-image: url(/Basic-Portfolio/Assests/images/qbkls.png);
    background-repeat: repeat;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    font-size: 20px;
}
.navbar{
    width: 100%;
    margin: 0 auto;
    
}

header{
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    border-color: #ccc;
   

}
header::after{
    content: '';
    display: table;
    clear: both;

}

.logo{
    float: left;
    background-color: #4aaaa5;
    color: #fff;
    padding: 1em;
    
}

nav{
    float: right;
    margin-right: 60px;
}
nav ul{
     margin: 10px;
     padding: 0;
     list-style: none;
     
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a{
    color: #777;
    text-decoration: none;
    text-transform: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

nav a:hover{
    color: #4aaaa5;
}

nav a::before{
    content: '';
    display: block; 
    height: 5px;
    background-color: #4aaaa5;
    position: absolute;
    top: 0;
    width: 0%;
    transition-delay: 250ms;
}
nav a:hover::before{
    width: 100%;

}
section{
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    font-size: 20px;
    line-height: 1.5;
    
    
}
h1, hr{
    font-size: 28px;
    margin-right: 30px;
    margin-left: 30px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.abtme {
    margin: 2em;


}
.gallery {
    display: flex;
    /* justify-content: center; */

}
.gallery a{
    width: 100px;
    margin: 10px;
    border-radius: 4px;
    
    

}
.gallery figure a:hover{
    opacity: .3;
}

.gallery figure figcaption{
    position: relative;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;

}

p::first-line{
   font-weight: bolder
   
    

}

.abtme:after{
    content: "";
    display: inline;
    clear: both;

}

    

.self{
    float: left;
    width: 200px;
    height: 198px;
    margin-right: 30px;
    margin-bottom : 30px;
}
form [type=text], [type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
 
}
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
  
input[type=submit] {
    width: 15%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    
}
  
input[type=submit]:hover {
    background-color: #4aaaa5;
}
.contact {
    border-radius: 5px;
    padding: 20px;
  }
  
 

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #777;
    border-top-color: #4aaaa5;
}